<div class="container">
  <div class="left-content">
    <div class="category">
      <h2>KADIN</h2>
      <ul>
        <li>Giyim</li>
        <li>Aksesuar</li>
        <li>Eşarp & Şal Koleksiyonu</li>
      </ul>
    </div>
    <div class="category">
      <h2>ERKEK</h2>
      <ul>
        <li>Giyim</li>
        <li>Aksesuar</li>
      </ul>
    </div>
    <div class="category">
      <h2>SHOES & BAGS</h2>
      <ul>
        <li>Kadın</li>
        <li>Erkek</li>
        <li>Monogram</li>
      </ul>
    </div>
    <div class="category">
      <h2>COUTURE</h2>
      <ul>
        <li>Elbise</li>
      </ul>
    </div>
    <div class="special-offer">
      <img src="https://1865548805.rsc.cdn77.org/m34/1/1519/d2408/e8514-tr.jpg" />
    </div>
  </div>

  <div class="middle-content">
    <div class="category">
      <h2>V2K DESIGNERS</h2>
      <ul>
        <li>Kadın</li>
        <li>Erkek</li>
      </ul>
    </div>
    <div class="category">
      <h2>MARE</h2>
      <ul>
        <li>Plaj Giyim</li>
        <li>Mayo & Bikini</li>
        <li>Sandalet & Terlik</li>
        <li>Aksesuar</li>
      </ul>
    </div>
    <div class="category">
      <h2>HOME</h2>
      <ul>
        <li>Ev Dekorasyonu</li>
        <li>Ev Tekstili</li>
        <li>Dekoratif Yastıklar</li>
      </ul>
    </div>
  </div>

  <div class="right-content">
    <img src="https://cdn.vakko.com/banners/3f1fa1d2-d300-4686-a55b-dd2ad2b8b802.jpeg" />
  </div>
</div>
