<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Footer</title>
</head>

<body>
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-top-item">
        <i class="material-symbols-outlined">verified_user</i>
        GÜVENLİ ALIŞVERİŞ
      </div>
      <div class="footer-top-item1">
        <i class="material-symbols-outlined">package_2</i>
        ÜCRETSİZ KARGO
        <div class="top-item-package">
          1000 TL ve Üzeri Siparişlerde Ücretsiz Kargo
        </div>
      </div>
      <div class="footer-top-item">
        <i class="material-symbols-outlined">refresh</i>
        KOLAY DEĞİŞİM VE İADE
      </div>
    </div>

    <div class="footer-content">
      <div class="footer-column1">
        <h4>KEŞFET</h4>
        <ul>
          <li><i class="fas fa-info-circle"></i> Vakko Hakkında</li>
          <li><i class="fas fa-store"></i> Mağazalar</li>
          <li><i class="fas fa-credit-card"></i> Vakko Card</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>VAKKO GROUP</h4>
        <ul>
          <li>V2K DESIGNERS</li>
          <li>VAKKORAMA <i class="material-symbols-outlined">arrow_outward</i></li>
          <li>
            VAKKO L'ATELIER <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>
            VAKKO HOTEL & RESIDENCE
            <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>
            VAKKO ESMOD <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>
            VAKKO SCHOOL OF HOSPITALITY AND SERVICE
            <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>
            POWER GROUP <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>VİTALİ HAKKO KREATİF ENDÜSTRİLER KÜTÜPHANESİ</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>BİLGİ</h4>
        <ul>
          <li>Sıkça Sorulan Sorular</li>
          <li>İletişim</li>
          <li>Kurumsal İletişim</li>
          <li>Teslimat</li>
          <li>İade ve Değişim</li>
          <li>Kurumsal Satış</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>MÜŞTERİ İLİŞKİLERİ</h4>
        <ul>
          <li>Çerez Politikası</li>
          <li>Müşteri Aydınlatma Metni</li>
          <li>Sınırlı Sorumluluk</li>
          <li>Fikri Sınai Mülkiyet</li>
          <li>Bilgi Güvenliği</li>
          <li>
            Bilgi Toplumu Hizmetleri
            <i class="material-symbols-outlined">arrow_outward</i>
          </li>
          <li>Kalite Politikası</li>
          <li>Yatırımcı İlişkileri</li>
          <li>
            Sürdürülebilirlik
            <i class="material-symbols-outlined">arrow_outward</i>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-times"></i></a>
      </div>
      <div class="vakko-yaninda">
        Vakko shop her platformda yanınızda
        <div class="footer-app-links">
          <button class="app-store">
            <i class="fab fa-apple"></i> App Store
          </button>
          <button class="google-play">
            <i class="fab fa-google-play"></i> Google Play
          </button>
        </div>
      </div>

    </div>

    <div class="footer-legal">
      <span>© Copyright 2024 Vakko Group</span>
      <ul>
        <li>Güvenlik</li>
        <li>Gizlilik Politikası</li>
        <li>Kullanım Koşulları</li>
      </ul>
      <div class="footer-language">
        <button>TR / EN</button>
      </div>
    </div>
  </footer>
</body>

</html>
