<div class="container">
  <div class="left-content">
    <div class="category">
      <h2>EV DEKORASYONU</h2>
      <ul>
        <li>Mobilya</li>
        <li>Ofis Aksesuarları</li>
        <li>Dekoratif Ev Aksesuarları</li>
        <li>Hobi Aksesuarları</li>
        <li>Sofra</li>
        <li>Mum & Oda Kokusu</li>
        <li>Banyo Aksesuarları</li>
      </ul>
    </div>
    <div class="category">
      <h2>EV TEKSTİLİ</h2>
      <ul>
        <li>Exclusive Line</li>
        <li>Yatak Tekstili</li>
        <li>Masa Tekstili</li>
        <li>Banyo Tekstili</li>
      </ul>
    </div>
    <p class="special-offer">BÜYÜK YAZ İNDİRİMİ - %50</p>
    <p class="special-offer">HOME KOLEKSİYONU SEÇİLİ ÜRÜNLERDE + %15 İNDİRİM</p>
  </div>

  <div class="middle-content">
    <div class="category">
      <h2>CRUISE</h2>
      <ul>
        <li>Tekne Aksesuarları</li>
        <li>Dış Mekan Yastıkları</li>
      </ul>
    </div>
    <div class="category">
      <h2>DEKORATİF YASTIKLAR</h2>
      <ul>
        <li>Klasik Dekor Yastıkları</li>
        <li>Sezon Yastıkları</li>
      </ul>
    </div>
    <div class="category">
      <h2>EL VE VÜCUT BAKIMI</h2>
    </div>
    <div class="category">
      <h2>EVLİLİK LİSTESİ KATALOĞU</h2>
    </div>
  </div>

  <div class="right-content">
    <img src="https://cdn.vakko.com/banners/ec450ea9-84f8-4f8e-8f7b-d220e028a0aa.jpeg" alt="Bird Sculpture" />
  </div>
</div>

