<div class="container">
  <div class="menu">
    <h2>GİYİM</h2>
    <ul>
      <li>Ceket</li>
      <li>Takım Elbise</li>
      <li>Smokin</li>
      <li>Gömlek</li>
      <li>T-Shirt & Sweatshirt</li>
      <li>Triko</li>
      <li>Pantolon</li>
      <li>Bermuda & Şort</li>
      <li>Dış Giyim</li>
      <li>Plaj Giyim</li>
      <li>İç Giyim</li>
    </ul>
    <h2>AKSESUAR</h2>
    <ul>
      <li>Kravat</li>
      <li>Mendil</li>
      <li>Papyon</li>
      <li>Kemer</li>
      <li>Çorap</li>
      <li>Bileklik</li>
      <li>Kol Düğmesi</li>
    </ul>
    <p class="special-offer">BÜYÜK YAZ İNDİRİMİ - %50</p>
  </div>
  <div class="image-container">
    <img src="https://cdn.vakko.com/banners/0f25a0c2-a83f-4f2c-bdfc-b220808d59b2.jpeg" alt="Model in brown suit" />
  </div>
</div>