<div class="container">
  <div class="menu">
    <h2>GİYİM</h2>
    <ul>
      <li>Elbise & Tulum</li>
      <li>Ceket</li>
      <li>Gömlek & Bluz</li>
      <li>T-Shirt & Sweatshirt</li>
      <li>Triko</li>
      <li>Pantolon</li>
      <li>Etek</li>
      <li>Bermuda & Şort</li>
      <li>Dış Giyim</li>
    </ul>
    <h2>AKSESUAR</h2>
    <ul>
      <li>Takı</li>
      <li>Şapka</li>
      <li>Kemer</li>
      <li>Şal</li>
    </ul>
    <h2>EŞARP & ŞAL KOLEKSİYONU</h2>
    <ul>
      <li>Eşarp</li>
      <li>Şal</li>
      <li>Fular & Gavroş & Bandana</li>
      <li>Çağdaş Türk Sanatçıları Koleksiyonu</li>
      <li>İsme Özel Eşarp</li>
    </ul>
    <p class="special-offer">BÜYÜK YAZ İNDİRİMİ - %50</p>
  </div>
  <div class="middle-content">
    <div class="category">
      <h2>VAKKO KADIN AW 25</h2>
      <h2>VAKKO KADIN SS 24</h2>
      <h2>VAKKO KADIN SS 24 PLUS</h2>
      <h2>👖 VAKKO DENIM FOREVER CHIC & COOL</h2>
      <h2>☀️ HAPPY HOLIDAYS</h2>
    </div>
  </div>
  <div class="image-container">
    <img src="https://cdn.vakko.com/banners/d68f3d04-6b29-4b6e-bcef-b2ba527f7625.jpeg" alt="Model in brown suit" />
  </div>
</div>
