<div class="container">
  <div class="left-content">
    <div class="category">
      <h2>ERKEK PARFÜM</h2>
      <ul>
        <li>Infiniti For Him</li>
        <li>Infiniti For Him 2'li Set</li>
        <li>V De Vakko</li>
        <li>V De Vakko 2'li Set</li>
        <li>Infiniti For Us</li>
      </ul>
    </div>
    <div class="category">
      <h2>KADIN PARFÜM</h2>
      <ul>
        <li>Infiniti For Her</li>
        <li>Infiniti For Her Glam</li>
        <li>Infiniti For Her Grey</li>
        <li>Infiniti For Us</li>
        <li>Katia</li>
        <li>Infiniti For Her 2'li Set</li>
        <li>Infiniti For Her 3'lü Set</li>
        <li>Infiniti For Her Body Mist</li>
        <li>Katia 2'li Set</li>
      </ul>
    </div>
    <div class="category">
      <h2>UNISEX PARFÜM</h2>
      <ul>
        <li>Infiniti For Us</li>
      </ul>
    </div>

    <p class="special-offer">2 VE ÜZERİ ÜRÜNE + %30 İNDİRİM</p>
  </div>

  <div class="middle-content">
    <div class="category">
      <h2>HEDİYE SETLERİ</h2>
      <ul>
        <li>Kadın Hediye Setleri</li>
        <li>Erkek Hediye Setleri</li>
        <li>Kolonya Hediye Setleri</li>
      </ul>
    </div>
    <div class="category">
      <h2>KOLONYA</h2>
      <ul>
        <li>Riga Amber</li>
        <li>Bois De Cedre Atlas</li>
        <li>Marine Imperial</li>
        <li>Citrus</li>
        <li>Leather</li>
        <li>Blue Suede</li>
        <li>Tangerine & Manderine</li>
        <li>Atmosphere</li>
      </ul>
    </div>
    <div class="category">
      <h2>OJE</h2>
    </div>
    <div class="category">
      <h2>EL VE VÜCUT BAKIMI</h2>
      <ul>
        <li>Sıvı Sabunlar</li>
        <li>Sabunlar</li>
        <li>Body Mist</li>
      </ul>
    </div>
  </div>

  <div class="right-content">
    <img src="https://cdn.vakko.com/banners/30a54f6c-44d8-4188-be2a-483e5fbcc9c5.jpeg" alt="Bird Sculpture" />
  </div>
</div>