<div class="container">
  <div class="left-content">
    <div class="category">
      <h2>KADIN</h2>
      <ul>
        <li>Ayakkabı</li>
        <li>Çanta</li>
        <li>Cüzdan</li>
        <li>V2K Designers Ayakkabı & Çanta</li>
        <li>Monogram</li>
        <li>Monogram Initials Koleksiyonu</li>
        <li>Monogram Exclusive</li>
      </ul>
    </div>
    <p class="special-offer">BÜYÜK YAZ İNDİRİMİ - %50</p>
  </div>

  <div class="middle-content">
    <div class="category">
      <h2>ERKEK</h2>
      <ul>
        <li>Ayakkabı</li>
        <li>Çanta</li>
        <li>Monogram</li>
      </ul>
    </div>
  </div>

  <div class="right-content">
    <img src="https://cdn.vakko.com/banners/31b29330-ef68-4b93-87ee-4427e86d914e.jpeg" />
  </div>
</div>
