.container {
    display: flex;
}

.menu {
    width: 30%;
    padding: 20px;
}

.menu h2 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #9f9f9f;
    cursor: pointer;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.menu li:hover {
    text-decoration: underline;
}

.menu ul li {
    font-size: 1em;
    margin-bottom: 5px;
    color: #333;
    cursor: pointer;
}

.special-offer {
    font-weight: bold;
    font-size: 15px;
    color: #9f9f9f;
    cursor: pointer;
}
