<div class="container">
    <div class="left-content">
        <div class="category">
            <h2>ELBİSE</h2>
            <h2>KOKTEYL ELBİSE</h2>
            <div class="bottom-content">
                <h2>BÜYÜK YAZ İNDİRİMİ - %50</h2>
            </div>
        </div>
    </div>

    <div class="middle-content">
        <div class="category">
            <h2>AKSESUAR</h2>
        </div>
    </div>

    <div class="right-content">
        <img src="https://cdn.vakko.com/banners/ef97e31b-5718-4eff-890b-9cb286545d2b.jpeg" />
    </div>
</div>