<div class="container">
  <div class="menu">
    <h2>GİYİM</h2>
    <ul>
      <li>Elbise </li>
      <li>Tulum</li>
      <li>Total Look</li>
      <li>Ceket</li>
      <li>Gömlek</li>
      <li>Bluz</li>
      <li>T-Shirt</li>
      <li>Sweatshirt</li>
      <li>Triko</li>
      <li>Pantolon</li>
      <li>Jean Pantolon</li>
      <li>Etek</li>
      <li>Bermuda & Sort</li>
      <li>Dış Giyim</li>
      <li>İç Giyim</li>
      <li>Plaj</li>


    </ul>
    <h2>AYAKKABI & ÇANTA</h2>
    <h2>AKSESUAR</h2>
    <h2>BÜYÜK YAZ İNDİRİMİ - %50</h2>
  </div>
  <div class="image-container">
    <img src="https://cdn.vakko.com/banners/27e87a84-ba8e-4e52-b250-ec4fd3c2fe84.jpeg" alt="Model in brown suit" />
  </div>
</div>