<div class="container">
  <div class="left-content">
    <div class="category">
      <h2>ÇİKOLATALAR</h2>
      <ul>
        <li>Klasik Çikolatalar</li>
        <li>El Yapımı Çikolatalar</li>
        <li>Atıştırmalık Çikolatalar</li>
      </ul>
    </div>
  </div>

  <div class="middle-content">
    <div class="category">
      <h2>PATİSSERİE</h2>
      <h2>DELİGHT</h2>
      <h2>ICE CREAM</h2>
      <h2>BİSTROT</h2>
    </div>
  </div>

  <div class="right-content">
    <img src="https://cdn.vakko.com/banners/29026034-7a99-4cb7-bf9f-9772d7e1981f.jpeg" alt="Bird Sculpture" />
  </div>
</div>